body, 
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  font-family: Arial;
}

.button{
  padding: .5rem 1rem;
  color: white;
  background-color: rgb(164, 30, 30);
  border: 2px solid white;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  transition: all .3s;
}
.button:hover{
  background-color: peru;
}

/* NavBar styling  */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.177);
  padding: 0px 7%;
}

.left_nav img{
  height: 4rem;
}

.right_nav{
  width:min(70%, 30rem);
  display: flex ;
  justify-content: space-between;
}

.nav_links{
  padding: .5rem;
  border-radius: 8px;
  transition: all .3s;
}

.nav_links:hover{
  background-color: peru;
  color: white;
  cursor: pointer;
}

/* Header Styling  */
.header::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35rem;
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: .7;
}

.header{
  height: 30rem;
  padding: 1rem 7%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size: clamp(1.5rem, 5vw, 2rem);
  text-align: center;
}

/* Services  */

.card{
  margin: 3rem auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.41);
  max-width: 30rem;

}

.box_img{
  width: 100%;
}

.sub_heading{
  text-align: center;
}

.para{
  padding: 12px;
}


@media (min-width: 600px) {
  .services{
    display: flex;
    margin: auto;
    width: fit-content;
  }
  .card{
    margin: 1rem;
  }
}